# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
.gradle/
.gradle_home/
local.properties
ant-properties.xml
ant-build.xml
native-libs/
gen/
*.keystore
*.jks
*.p12
*.pem
*.der

# iOS
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
**/*sync/
.sconsign.dblite
.tags*
DerivedData/
build/
xcuserdata/
bundle/
*.hmap
*.ipa
*.ext.plist

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
Network Trash Folder
Temporary Items
.apdisk

# IDEs
.idea/
.vscode/
*.swp
*.swo
*.swn
.history/

# Firebase
google-services.json
Google-Service-Info.plist
firebase_options.dart
*.log
